#* @implicitly included *#
#* @vtlvariable name="WebPath" type="app.Path.Web" *#
#* @vtlvariable name="msg" type="app.MessageBundle" *#
#* @vtlvariable name="books" type="java.lang.Iterable<app.dominio.Book>" *#
#* @vtlvariable name="book" type="app.dominio.Book" *#
#* @vtlvariable name="users" type="java.lang.Iterable<app.dominio.User>" *#
#* @vtlvariable name="currentUser" type="java.lang.String" *#
#* @vtlvariable name="loggedOut" type="java.lang.String" *#
#* @vtlvariable name="authenticationFailed" type="java.lang.String" *#
#* @vtlvariable name="authenticationSucceeded" type="java.lang.String" *#
#* @vtlvariable name="loginRedirect" type="java.lang.String" *#
