<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>GeSoc - Cargar proyecto</title>

  <!-- Bootstrap core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/css/heroic-features.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-toggler-right navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/inicio">GeSoc</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/inicio">Inicio</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/proyecto">Proyecto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/mensajes">Mensajes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Cerrar Sesi&oacute;n</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Header -->
        <header class="jumbotron my-4">
        <h1 class="display-3">Cargue sus Proyectos</h1>
        <p class="lead"></p>
        </header>
    </div>


	
<div class="container">
	#if($FormatoNumeroIncorrecto)
		<p>ERROR: EL FORMATO DEL MONTO INGRESADO ES INCORRECTO</p>
	#elseif($montoMenorACero)
		<p>ERROR: EL MONTO INGRESADO DEBE SER MAYOR A CERO</p>
    #elseif($FormatoMontoLimiteIncorrecto)
		<p>ERROR:EL FORMATO DEL MONTO LIMITE INGRESADO ES INCORRECTO </p>
	#elseif($montoLimiteMenorACero)
		<p>ERROR: EL MONTO LIMITE INGRESADO DEBE SER MAYOR O IGUAL A CERO</p>
	#elseif($montoLimiteMayorAlTotal)
		<p>ERROR: EL MONTO LIMITE NO DEBE SUPERAR AL MONTO TOTAL</p>			
	#elseif($FormatoCantidadIncorrecto)
		<p>ERROR: EL FORMATO DE LA CANTIDAD DE PRESUPUESTOS INGRESADA ES INCORRECTA</p>
	#elseif($cantidadMenorACero)
		<p>ERROR: LA CANTIDAD DE PRESUPUESTOS INGRESADA DEBE SER MAYOR O IGUAL A CERO</p>
	#elseif($usuarioNoExiste)
		<p>ERROR: EL USUARIO INGRESADO NO EXISTE</p>
	#elseif($proyectoCargadoCorrectamente)
		<p>EXITO: EL PROYECTO FUE CARGADO CORRECTAMENTE. EL NUMERO DE PROYECTO ES: $idProyectoNuevo</p>
    #end
          <form method="get">
            <div class="form-row">
              <div class="form-group col-md-6">
				<label for="inputMonto">Monto</label>
                <input name="MontoTotal" type="text" class="form-control" id="inputMonto" placeholder="Monto">
              </div>
              <div class="form-group col-md-6">
				<label for="inputPresupuestos">Monto limite sin presupuesto</label>
				<input name="montoLimiteSinPresupuesto" type="text" class="form-control" id="montoLimiteSinPresupuesto" placeholder="Monto limite sin presupuesto">
              </div>
            </div>
            <div class="form-group">
              <label for="inputCantPres">Cantidad de presupuestos</label>
              <input name="CantidadPresupuestos" type="text" class="form-control" id="inputCantPres" placeholder="Cantidad de presupuestos">
            </div>
            <div class="form-group">
			  <label for="inputUsuario">Usuario</label>
              <input name="username" type="text" class="form-control" id="inputUsuario" placeholder="Usuario">
            </div>

            <button onclick="submit" class="btn btn-primary">Cargar</button>
          </form>
    </div>
</div>

<!-- Bootstrap core JavaScript -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
