<!DOCTYPE html>
<html lang="en">

<head>
 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>GeSoc - Mensajes</title>

  <!-- Bootstrap core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/css/heroic-features.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-toggler-right navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/inicio">GeSoc</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/inicio">Inicio
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/proyecto">Proyecto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/mensajes">Mensajes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Cerrar Sesi&oacute;n</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Page Content -->
  <div class="container">

        <!-- Header -->
        <header class="jumbotron my-4">
        <h1 class="display-3">Bienvenido a su Bandeja de Mensajes de GeSoc</h1>
        <p class="lead">Visualice sus mensajes nuevos y antiguos. </p>
        </header>

        <style type="text/css">
          table.tableizer-table {
            font-size: 18px;
            border: 1px solid #CCC; 
            font-family: Arial, Helvetica, sans-serif;
          } 
          .tableizer-table td {
            padding: 4px;
            margin: 3px;
            border: 1px solid #CCC;
          }
          .tableizer-table th {
            background-color: #BFC5C5;  
            font-weight: bold;
          }
        </style> <!-- los &nbsp; son para espacios en blanco-->
        <table class="tableizer-table">
        <thead><tr class="tableizer-firstrow"><th></th><th>&nbsp;Numero de Compra&nbsp;</th><th>&nbsp;&#191;Cantidad de presupuestos indicada?&nbsp;</th><th>&nbsp;&#191;Compra realizada en base a un presupuesto?&nbsp;</th><th>&nbsp;&#191;Criterio de seleccion de presupuesto correcto?&nbsp;</th></tr></thead><tbody>
         #foreach($mensaje in $mensajes)
			<tr><td>Mensaje $foreach.count</td>
				<td>$mensaje.getCompra().getNumeroCompra()</td>
				#if($mensaje.isCantidadPresupuestosIndicada())
					<td>SI</td>
				#else
					<td>NO</td>
				#end	
				#if($mensaje.isPresupuestoElegido())
					<td>SI</td>
				#else
					<td>NO</td>
				#end
				#if($mensaje.isCriterioCorrecto())
					<td>SI</td>
				#else
					<td>NO</td>
				#end	
			</tr>
			
		 #end
		 
        </tbody></table>

    </div>    
  </div>
    
<!-- Bootstrap core JavaScript -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>    
    
</body>
</html>
