<!DOCTYPE html>
  <html lang="en">
  
  <head>
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
  
    <title>GeSoc - Presupuesto Detallado</title>
  
    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  
    <!-- Custom styles for this template -->
    <link href="/css/heroic-features.css" rel="stylesheet">
    
  
  </head>
  
  <body>
  
    <!-- Navigation -->
    <nav class="navbar navbar-toggler-right navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/inicio">GeSoc</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/inicio">Inicio
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/proyecto">Proyecto</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/mensajes">Mensajes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Cerrar Sesi&oacute;n</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  
    <!-- Page Content -->
    <div class="container">
  
      <!-- Header -->
      <header class="jumbotron my-4">
        <h1 class="display-3">Cargue sus Presupuestos Detallados</h1>
        <p class="lead">Nuestro sistema Gestor de Proyectos Sociales
             facilita la carga y gesti&oacute;n de sus presupuestos detallados.</p>
      </header>
      
      <!-- Page Features -->
      
      <form method="get">
	#if($FormatoNumeroIncorrecto)
		<p>ERROR: EL FORMATO DEL MONTO ES INCORRECTO</p>
	#elseif($montoMenorACero)
		<p>ERROR: EL MONTO DEBE SER MAYOR A CERO </p>
	#elseif($cargaCorrecta)
		<p>EXITO: EL PRESUPUESTO DETALLADO FUE CARGADO CORRECTAMENTE. EL IDENTIFICADOR DEL MISMO ES: $numeroPresupuesto</p>
    #end
        <div class="form-row">
            <label for="inputPrecio">Monto</label>
            <input name="MontoTotal" type="text" class="form-control" id="input" placeholder="Monto">
		</div> 
		
  <div class="form-group">
    <fieldset disabled>
      <label for="inputProductos">Elegir producto</label>
      <input type="text" class="form-control" id="inputProductos" placeholder="Producto elegido">
    </fieldset>
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#ventanaAgregarProductoElegido">Ver</button>
    <!-- Modal -->
    <div class="modal fade" id="ventanaAgregarProductoElegido" tabindex="-1" role="dialog" aria-labelledby="modalCargarProducto" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">

            <h5 class="modal-title" id="modalCargarProducto">Productos disponibles:</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
		  
          <div class="col-sm-10">
			#foreach($producto in $productos)
            <div class="form-check">
              <input class="form-check-input" type="radio" name="ProductoSeleccionado" value="$!producto.getId()" id="$!producto.getId()" checked>
              <label class="form-check-label" for="$!producto.getId()">
				Producto $producto.getId() Descripcion: $producto.getDescripcion() Precio: $producto.getValor()				
              </label>
            </div>
		    #end
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Seleccionar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
        <button type="submit" class="btn btn-primary">Cargar</button>
		
    </form>
       

  
  </body>
  
  </html>